
<body>
    <div class="container">
     <li><a class="waves-effect waves-light btn" routerLink="/api/ubicacion" >Ubicacion</a></li>

  <div [hidden]="!formulario">
    <form (ngSubmit)="submit()">
       <div><input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="frat.nombre"></div> 
    <div><input type="file"  accept=".png, .jpg" (change)="upload($event)" ></div>
      <div> <input type="text" name="presidente" placeholder="Nombre del presidente" [(ngModel)]="frat.presidente"></div>
       <div> <input type="text" name="delegado" placeholder="Nombre del Delegado" [(ngModel)]="frat.delegado"></div>
        <div><input type="number" name="cantidad" placeholder="cantidad" [(ngModel)]="frat.cantidad"></div>
    
   
             
                  <div class="form-group">
                    <button  type="button" (click)="cancelar()">cancelar</button>
                    <input type="submit" value="Enviar">
                  </div>
         
 
    </form>
</div>
<a class="btn-floating btn-large waves-effect waves-light red"  (click)="nuevo()"><i class="material-icons">+</i></a>
        
  

    <table [hidden]="!form" class="col s3">
  
        <tr *ngFor="let item of lista">
                <a class=" right btn-floating  waves-effect  blue "  (click)="abrir()"><i class="material-icons">+</i></a><h1 class="header">{{item.nombre}}</h1>
               
        <br>
         <h2>{{item.institucion}}</h2>

  
        
        
        <td ngFor="let item of lista" [hidden]="!formu">{{item.reina.nombrer}} {{item.reina.apellidosr}}</td>
       <div> Descripcion<td ngFor="let item of lista" [hidden]="!formu">{{item.descripcion}}</td></div>
        
        </tr>
       
    
        </table>
       
    </div>
  </body>
